<style type="text/css">
	#welcomebackground{
		background-image: url(<%= @city.img_url %> );
	}
</style>

<div id="cityInfo">
<h1>Posts</h1>
<p id="notice"><%= notice %></p>

<p>
  <strong>City name:</strong>
  <%= @city.city_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @city.description %>
</p>


  <ul>
    <% @posts.each do |posts| %>
    <li><%= link_to "#{posts.title}", post_path(posts.id), method: :get %></a></li>
    <%end%>
  </ul>
<div id="addpostbutton">
<%= button_to "Add new Post", new_post_path, method: :get, params: {city_id: @city.id, user_id: session[:user_id]} %>
</div><br />
<%= link_to 'Edit', edit_city_path(@city) %> |
<%= link_to 'Back', cities_path %>

</div>