<style type="text/css">
	#welcomebackground{
		background-image: url(<%= @city.img_url %>);
	}
</style>

<div id="cityInfo">

<p id="notice"><%= notice %></p>

<p>
  <strong>City name:</strong>
  <%= @city.city_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @city.description %>
</p>

<h1>Posts</h1>
  <ul>
    <% @posts.each do |posts| %>
    <li><%= link_to "#{posts.title}", post_path(posts.id), method: :get %></a></li>
    <%end%>
  </ul>
  
<%= link_to 'Edit', edit_city_path(@city) %> |
<%= link_to 'Back', cities_path %>

</div>